<footer class="footer">
  <div class="container">
    <div class="row footerlinks">
      <div class="col-sm-3 col-xs-6 widget">
        <h3 class="widget-title uppercase">Support</h3>
        <div class="widget-body">
          <dl>
            <dd><a href="https://plone.com/providers">Commercial services</a></dd>
            <dd><a href="https://plone.org/support/chat">Chat room</a></dd>
            <dd><a href="https://plone.org/support/forums">Forums</a></dd>
            <dd><a href="https://plone.org/support/local-user-groups">Local user groups</a></dd>
          </dl>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 widget">
        <h3 class="widget-title">Downloads</h3>
          <div class="widget-body">
            <dl>
              <dd><a href="https://plone.org/download">Get Plone</a></dd>
              <dd><a href="https://plone.org/download/add-ons">All add-ons</a></dd>
              <dd><a href="https://plone.org/security/hotfixes">Check hotfixes</a></dd>
              <dd><a href="https://github.com/plone">Browse source</a></dd>
            </dl>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 widget">
          <h3 class="widget-title">Documentation</h3>
            <div class="widget-body">
            <dl>
              <dd><a href="http://docs.plone.org/">Full documentation</a></dd>
              <dd><a href="http://training.plone.org/">Training</a></dd>
              <dd><a href="http://docs.plone.org/manage/installing/">Installation</a></dd>
            </dl>
          </div>
        </div>
         <div class="col-sm-3 col-xs-6 widget">
          <h3 class="widget-title">Contribute</h3>
            <div class="widget-body">
            <dl>
              <dd><a href="https://plone.org/roadmap">Roadmap</a></dd>
              <dd><a href="https://plone.org/support/bugs">Report bugs in Plone</a></dd>
              <dd><a href="https://plone.org/community/sign-me-up">Contribute skills</a></dd>
              <dd><a href="Contribute skills">Contribute code</a></dd>
            </dl>
          </div>
        </div>
      </div> <!-- /row of widgets -->
	<div class="row">
        <div class="col-md-2">
          <div class="widget-body">
            <a href="http://www.redhat.com/"><img alt="Red Hat Logo" src="/static/logo_footer.png" class="rh-logo"></a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="widget-body">
            <p class="sponsor">Plone and the Plone® logo are registered trademarks of the Plone Foundation</p>
            <p class="sponsor"><a href="https://plone.org">Learn more about Plone »</a></p>
            <!-- <p class="copy">&copy; 2015 Red Hat, Inc. and others.</p> -->
          </div>
        </div>
        <!-- /row of widgets -->
      </div>
</footer>
