<nav>
  <ul class="nav navbar-nav">
    <li class="{% if page.highlight_section == "start" %} active {%endif%}">
      <a href="/about.html">About</a>
    </li>
    <li class="{% if page.highlight_section == "tools" %} active {%endif%}">
      <a href="/trainings.html">Trainings</a>
    </li>
    <li class="{% if page.highlight_section == "tech" %} active {%endif%}">
      <a href="/trainer.html">Trainer</a>
    </li>
    <!--
    <li class="{% if page.highlight_section == "deployment" %} active {%endif%}">
      <a href="/deployment.html">Trainer</a>
    </li> -->
    <!--
    <li class="{% if page.highlight_section == "resources" %} active {%endif%}">
      <a href="/">Resources</a>
    </li>
    <li class="{% if page.highlight_section == "blogs" %} active {%endif%}">
      <a href="/">Blogs</a>
    </li>
    -->
  </ul>
</nav>
